*{
    padding: 0;
    margin: 0;
}
body{
    background-color: dimgray;
}
.about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: pink;
    font-weight:bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: black;

}
.about-item{
    margin-bottom:20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0,0,0 .6);
}
.about-item span{
    font-size: 43px;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: pink;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background-color: orange;
}
.about-item:hover span,
.about-item:hover h3,
.about-item:hover p{
    color: black;
}
.about-item:hover hr{
    background-color: black;

}

.about-item:hover span{
    transform: translateY(-20px);
}
.about-item:hover span,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease in-out;
}

.footer{
    background-image: url(pic/itodapat.jpg);
    padding: 20px; 
   
}
.footer h3{
    color:pink;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
.quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bolder;
}
.quick-links li {
    display: inline;
    margin-right: 10px;
}
.quick-links a {
    color: white; /* Link color */
    background: orange;
    text-decoration: none;
}
.copyright {
    margin-top: 20px;
}
.footer p{
    color: white;
    

}