/*----------call to action-----*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image:url(pic/itodapat.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}